@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0f172a;
  min-height: 100%;
  overflow-x: hidden;
}

.test-red-border {
  border: 4px solid red !important;
}